@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap');

:root {
  --cont: 100%;
  --fs35: 35px;
  --fs30: 30px;
  --fs25: 25px;
  --fs23: 23px;
  --fs22: 22px;
  --fs20: 20px;
  --fs18: 18px;
  --fs16: 16px;
  --primary_color: #f84137;
}
:root {
  --cont: 100%;
  --fs35: 35px;
  --fs30: 30px;
  --fs25: 25px;
  --fs23: 23px;
  --fs22: 22px;
  --fs20: 20px;
  --fs18: 18px;
  --fs16: 16px;
}
* {
  -webkit-box-sizing: border-box !important;
  box-sizing: border-box !important;
}
div,
section {
  line-height: 1;
}
::-moz-selection {
  background: #fff;
  color: #000;
}
::selection {
  background: #fff;
  color: #000;
}
html {
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: smooth;
  font-size: 64.5%;
}
body {
  line-height: 1;
  font-size: 15px;
  margin: 0;
  padding: 0;
  color: #414448;
  font-weight: 500;
  font-family: 'Raleway', sans-serif;
}
body.ar {
  direction: rtl;
}
.rtl img{
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.nortlimg{
  -webkit-transform: scaleX(1) !important;
  transform: scaleX(1) !important;
}

.site-holder {
  background: #fff;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 1;
}
:focus {
  outline: none;
}
h1 {
  margin: 0;
  padding: 0;
  line-height: 1.3;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  font-weight: 700;
  font-family: inherit;
  color: #202331;
}
h1 a {
  line-height: 1.3;
}
h2 {
  margin: 0;
  padding: 0;
  line-height: 1.3;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
  font-weight: 700;
  font-family: inherit;
  color: #202331;
}
h2 a {
  line-height: 1.3;
}
h3 {
  margin: 0;
  padding: 0;
  line-height: 1.3;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  font-weight: 700;
  font-family: inherit;
  color: #202331;
}
h3 a {
  line-height: 1.3;
}
h4 {
  margin: 0;
  padding: 0;
  line-height: 1.3;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
  font-weight: 700;
  font-family: inherit;
  color: #202331;
}
h4 a {
  line-height: 1.3;
}
h5 {
  margin: 0;
  padding: 0;
  line-height: 1.3;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;

  font-weight: 700;
  font-family: inherit;
  color: #202331;
}
h5 a {
  line-height: 1.3;
}
h6 {
  margin: 0;
  padding: 0;
  line-height: 1.3;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
  display: -webkit-box;
  display: -ms-flexbox;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  font-weight: 700;
  font-family: inherit;
  color: #202331;
}
h6 a {
  line-height: 1.3;
}
a {
  text-decoration: none;
}
a,
p,
span,
ol,
ul,
li {
  margin: 0;
  padding: 0;
  line-height: 1.4;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
  color: #5f6166;
  padding-top:15px;
  outline: none;
}
img {
  display: block;
  max-width: 100%;
  width: 100%;
  height: auto;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}
.btn-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.btn-holder a,
.btn-holder > div {
  margin-left: 25px;
}
.btn-holder a:first-child,
.btn-holder > div:first-child {
  margin-left: 0;
}
.btn-holder.center {
  place-items: center;
  text-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.fw300 {
  font-weight: calc(100 * 3);
}
.fw400 {
  font-weight: calc(100 * 4);
}
.fw500 {
  font-weight: calc(100 * 5);
}
.fw600 {
  font-weight: calc(100 * 6);
}
.fw700 {
  font-weight: calc(100 * 7);
}
.fw800 {
  font-weight: calc(100 * 8);
}
.fw900 {
  font-weight: calc(100 * 9);
}
.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  font-weight: 600;
  font-size: 16px;
}
.title.center {
  place-items: center;
  text-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.dotunderline {
  border-bottom: 1px dashed #ff6846;
}
.colorange {
  color: #ff6846;
}
.colorange * {
  color: #ff6846;
}
.colwhite {
  color: #fff;
}
.colwhite * {
  color: #fff;
}
.colblack {
  color: #000;
}
.colblack * {
  color: #000;
}
.caps {
  text-transform: uppercase;
}
section {
  position: relative;
  z-index: 10;
  overflow: hidden;
}
.overflowvisi {
  overflow: visible !important;
}
*.hide {
  overflow: hidden !important;
}
.noanc {
  pointer-events: none;
}
.sliderbox {
  max-width: 100%;
  min-width: 100%;
  direction: ltr;
}
.text-box {
  display: -ms-grid;
  display: grid;
  grid-auto-rows: -webkit-min-content;
  grid-auto-rows: min-content;
  grid-gap: 2rem;
}
h1,
.h1 {
  font-size: 48px;
}
h2,
.h2 {
  font-size: 36px;
}
h3,
.h3 {
  font-size: var(--fs30);
}
h4,
.h4 {
  font-size: var(--fs25);
}
h5,
.h5 {
  font-size: var(--fs22);
}
h6,
.h6 {
  font-size: var(--fs16);
}

/* main css for laser tag*/
.sectionHeading {
  font-size: 44px;
  font-weight: 500;
  letter-spacing: -2px;
  margin-bottom: 30px;
}
.secDescription {
  font-size: 18px;
  font-weight: 200;
  line-height: 1.6em;
}
.subheading {
  font-weight: 400;
  text-transform: uppercase;
  color: #000;
  font-size: 20px;
}
.navbar-brand img {
  max-width: 230px;
  padding: 5px 15px;
  width: 100%;
}
.navbar {
  min-height: 80px;
  margin-bottom: 0px;
}
.navbar-brand {
  padding: 0;
}
.navbar-nav {
  float: none;
  max-width: 850px;
  margin: 0 auto;
  padding: 10px 0;
  justify-content: center;
  display: flex;
}
.navbar-default .navbar-nav>li{
  padding: 5px 10px;
}
.navbar-default .navbar-nav>li>a{
  color:#000;
  font-size: 17px;
  height: 51px;
}
.navbar-nav li a:hover{
  color: var(--primary_color) !important;
  background-color: #f8e6e6 !important;
  border-radius: 5px;
}
.navbar-default .navbar-nav>li>a .caret{
  padding-top: 0;
  margin-left: 8px;
  margin-right: 8px;
  border-top: 6px dashed;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
}
.dropdown-menu li a{
  padding:15px 30px;
  font-size: 16px;;
}
.dropdown-menu li{
  padding:0
}
.main_menu {
  border: none;
  z-index: 999;
  width:100%;
  transition: all ease-in-out 0.5s;
}
.fixHeader{
  position: fixed;
  min-height: 50px;
  border-bottom: 1px solid #777;
}
.fixHeader .navbar-brand img{
  max-width: 180px;
}
.fixHeader .navbar-nav li a{
  padding:10px;
  height: 42px;
  font-size: 14px;
}
.fixHeader .navbar-nav li{
  padding-top:0;
  padding-bottom:0;
}
.btnMain {
  background: var(--primary_color);
  color: #fff;
  border-radius: 50px;
  padding: 15px 40px 18px;
  font-size: 18px;
  line-height: 1em;
  border: none;
  outline: none !important;
}
.btnMainWhite {
  background: #fff;
  color: #000;
  z-index: 2;
  position: relative;
}
section {
  padding: 9rem 0;
}

/* rtl */
.rtl, .rtl p, .rtl h6{
  direction: rtl;
  font-family: DIN Next LT Arabic;
}
.rtl p{
  font-size: 16px;
  font-weight: 400;
}
.rtl h6{
  font-size: 23px;
}
.rtl .whiteTitleTextNoBorder h4{
  font-size: 20px;
}
.rtl .navbar-header{
  float:right;
}
.rtl.navbar-default .navbar-collapse{
  width: 80%;
    float: left;
    margin: 0 auto;
}
.rtl.language{
  left: 30px;
  right:auto;
}
.rtl.topFooter p{
  padding-left:40px;
  padding-right:0;
  font-size: 16px;
}
.rtl .taggerGroupItemSpec ul li span{
  float: left;
}
/* shape */
.shape {
  overflow: hidden;
  position: absolute;
  left: 0;
  width: 100%;
  line-height: 0;
  direction: ltr;
  z-index: 1;
}
.shape-bottom {
  bottom: -1px;
}
.shape-top {
  top: -1px;
}
.shape-top svg {
  height: 75px;
}
.shape-top:not([data-negative="false"]) svg {
  z-index: -1;
}
.shape svg {
  display: block;
  width: calc(100% + 1.3px);
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
.shape-bottom svg {
  width: calc(300% + 1.3px);
  height: 200px;
}
.shape .shape-fill {
  fill: #fff;
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
}
.shape-top .shape-fill {
  transform: rotateX(180deg);
}

/* hero banner  */
.heroBanner {
  background: url("/img/Beiteddine-Palace.jpg") center center no-repeat;
  background-size: cover;
  background-color: #fa4238;
  background-attachment: fixed;
  padding: 8rem 0 14rem;
}
.heroBanner h2 {
  color: #ffffff;
  font-size: 57px;
  font-weight: 100;
}
.heroBanner p {
  color: rgba(255, 255, 255, 0.78);
  font-weight: 500;
  line-height: 1.6em;
  font-size: 18px;
  margin-bottom: 30px;
}

/* indoor galazy */
.indoorSec {
  background-color: #0f0f0f;
  padding-top:15rem
}
.indoorSec .sectionHeading {
  color: #fff;
}
.indoorSec p {
  color: #fff;
}
.indoorSec .icon svg {
  color: #fff;
  margin-top:10px;
}
.indoorSec h4 {
  color: #fff;
}

.indoorSec .indoorSec_item a .row{
  transition: all ease-in-out 0.2s;
}
.indoorSec .indoorSec_item a:hover .row{
    text-decoration: none;
    transform: scale(1.1);
}

/* outdoor system */
.outdoorSec .sectionHeading,
.outdoorSec .subheading {
  text-align: center;
}
.outdoorSec .secDescription {
  text-align: center;
  max-width: 600px;
  margin: 0 auto 60px;
  width: 100%;
}
.icon svg {
  font-size: 40px;
  color: #000;
}
.outdoorSec_item,
.indoorSec_item {
  padding: 30px 15px;
  transition: all ease-in-out 0.3s;
  max-width:400px
}
.outdoorSec_item:hover {
  transform: scale(1.1) !important;
 
  border-radius:20px;
  box-shadow: 0px 0px 35px -1px rgba(0,0,0,0.15);
}
.outdoorSec_item h4 {
  text-transform: capitalize;
  margin-bottom: 10px;
  font-size: 20px;
}
.outdoorSec_item p {
  font-weight: 400;
  line-height: 1.4em;
  cursor: pointer;
  font-size: 15px;
}

/* airBunker section*/
.airBunker {
  text-align: center;
}
.airBunker .subheading {
  text-transform: initial;
  margin-bottom: 60px;
  text-align:left
}
.airBunker .btnMain {
  margin-top: 60px;
}

/* PreFooter */
.preFooter {
  text-align: center;
  background: url("/img/prefooter2.jpg") center center no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
}
.background-overlay {
  background-color: #000000b8;
  opacity: 0.67;
  transition: all 0.3s, border-radius 0.3s, opacity 0.3s;
}
.background-overlay,.background-overlay-red {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  z-index: -1;
}
.background-overlay-red {
  background-color: #a00303;
  opacity: 0.47;
  transition: all 0.3s, border-radius 0.3s, opacity 0.3s;
}

.preFooter .sectionHeading {
  color: #ffffff;
  margin-bottom: 30px;
}
.preFooter .secDescription {
  color: #fff;
  margin-bottom: 0px;
}
.preFooterItem {
  padding: 45px 15px 60px;
  color: #fff;
}
.preFooterItem h5 {
  color: #fff;
  margin-bottom: 15px;
  font-size: 22px;
}
.preFooterItem p {
  color: #fff;
  font-weight: 400;
  opacity: 0.9;
  line-height: 2;
}

/* footer */
.topFooter{
  background:#fff;
  color:#ccc;
  padding:6rem 0;
  border-top: 2px solid #c3c3c3;
}
.bottomFooter{
  background: #f5f5f5;
  color:#333;
  text-align: center;
  padding:15px 0 18px;
  border-top:1px solid #ccc;
}
.footerTitle{
  color:#131313;
  font-size: 26px;
}
.footerLogo{
  max-width:150px;
  margin-top:30px;
}
.topFooter p{
  padding-right:40px;
  font-weight: 400;
}
.topFooter a{
  font-weight: 400;
}

.topFooter ul li{
  list-style: none;;
}
/* outdoor page */
.outdoorBanner{
  padding:0
}
.outdoorBannerTop{
  text-align: center;
  background:url('/img/banner-bg.jpg');
  background-attachment:fixed;
  background-position: left;
  background-size: cover;

  background-color:#000;
  padding:12rem 0 14rem;
}
.outdoorBannerTop img{
  max-width:300px;
  margin:0 auto;
  padding:2rem 0;
}
.outdoorBannerTop .sectionHeading,
.outdoorBannerTop .subheading{
  color:#fff;
}
.outdoorBannerTop .sectionHeading{
  font-size: 54px;
  padding-bottom:3rem;
  line-height:1.2em
}
.outdoorBannerTop .subheading{
  font-size: 30px;
}
.outdoorBannerBottom{
  background: url("/img/outdoor-banner.jpg");
  background-attachment:fixed;
  background-position: left;
  background-size: 80%;
  background-color:#000;
  background-repeat: no-repeat;
  padding:6rem 0 12rem;
}
.outdoorBannerBottomItem{
  min-height:150px;
  padding:20px 10px;
}
.outdoorBannerBottomItem .icon svg{
  max-width:100px;
  color:#fff;
  font-size: 60px;
  margin-top:15px;
}
.outdoorBannerBottomItem h5{
  color:#fff;
  font-weight: 500;
  font-size: 17px;
  padding-right:30px
}
.outdoorBannerBottomItem hr{
  margin:8px 0;
}

/* taggers category page */
.taggerGroupHeader{
  background:#000;
  padding-bottom:30px
}
.taggerGroupHeaderPreTitle{
  max-width:200px;
  background-color: #fff;
  color:#000;
  padding:15px 15px 15px;
  border-top-right-radius: 30px;
  margin-top:5px;
  line-height:1.2em;
}
.taggerGroupHeaderTitle h3{
  color:#fff;
  font-size: 40px;
  border-top:1px solid #fff;
  border-bottom:1px solid #fff;
  padding-top:15px;
  padding-bottom:20px;
}
.taggerGroupHeaderDescription p{
  color:#adabab;
  font-size: 14px;
  border-top:1px solid #fff;
  border-bottom:1px solid #fff;
  padding-top:25px;
  padding-bottom:30px;
}
.taggerGroupItem{
  border-top:5px solid #222;
  padding-bottom:20px;
}
.taggerGroupItem:nth-child(1){
 border-top: 0;
}
.taggerGroupItemName h2{
  font-weight:500;
  border-bottom:1px solid #000;
  padding-bottom:15px;
  padding-top:10px;
}
.taggerGroupItemPrice h4{
  font-weight:600;
  font-size: 45px;
  color:#1a73e8;
  border-bottom:1px solid #000;
  padding-bottom:15px;
}
.taggerGroupItemSpec ul li{
  list-style: none;
  padding:5px 0;
  color:#000;
  font-weight: 500;
}
.taggerGroupItemSpec ul li span{
  float:right;
  color:#000;
  padding-top:0;
}
.taggerGroupSidebarItem{
  border-bottom:1px solid #000;
  padding:10px 0;
  max-width: 300px;
    margin: 0 auto;
}
.taggerGroupSidebarItem p{
  color:#000;
  margin-top:10px
}
.opacityLess{
  opacity: 0.3;
}
.taggerGroupNotice{
  color:#333;
  font-weight: 500;
  font-size: 12px;
}
.inlineList li{
  display: inline-block;
  padding-right:60px  !important;  
}
.inlineList li span{
  padding-left:20px
}
.rtl .inlineList li span{
  padding-left:0px;
  padding-right:20px

}
.multicolouredSection{
  background-color:#000;
  background-image: url('/img/multicolored.jpg');
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center left;
  background-attachment: fixed;
  position: relative;
}
.whiteTitle{
  font-weight: 500;
  border-bottom: 1px solid #fff;
  padding-bottom: 15px;
  padding-top: 10px;
  color:#fff
}
.whiteTitleText{
  border-bottom:1px solid #eee;
  padding-bottom:30px
}
.whiteTitleText h3{
  color:#fff;
  font-size: 26px;
  padding:10px 0;
  border-bottom:1px solid #fff;
}
.whiteTitleText h4{
  color:#fff;
  font-size: 16px;
  padding:10px 0;
  border-bottom:1px solid #fff;
}

.whiteTitleText p{
  color:#ccc;
  padding-top:10px
}
.topAbsolute{
  position: absolute;
  top:0;
  left:60px;
  width:100%;
  border-bottom:1px solid #ccc;
}
/* impulse sectin taggers */
.impulseRecoilSec{
  background-color:#070707;
  background-image: url('/img/impulse-recoil.jpg');
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: top right;
  position: relative;
  padding-top:400px;
  background-attachment: fixed;
}

/* additional device with tagger */
/* headband */
.headbandSec{
  background-color:#070707;
  background-image: url('/img/headband.jpg');
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: bottom left;
  position: relative;
  padding-top:100px
}
.hideDesktop{
  display: none;
}

/* accessories/ */
.taggerGroupHeaderPreTitle.blackPreTitle{
  background:#000;
  color:#fff;
}
.ItemSubTitle{
  font-weight: 600;
  font-size: 16px;
  color:#000;
  padding:15px 0;
  border-bottom:1px solid #000;
}
.taggerGroupItemName h2 img{
  max-width:200px;  
  display: inline-block;
  margin-right:60px
}
.table-striped{
  border-bottom:1px solid #000;
}
.video{
  margin:0 auto;
  max-width:600px;
  padding:45px 0;
  text-align: center;
}
.video h2{
  text-align: center;
  margin-bottom: 30px;
}
.sceneSec{
  background-image: none;
  background-color:#131313
}
.sceneSec .taggerGroupItemName{
  border-top:1px solid #fff;
  border-bottom:1px solid #fff;
}
.sceneSec .whiteTitleText h4{
  font-size: 22px;
  padding-bottom:15px;
  
}
.sceneSec .whiteTitleText{
  border:none
}
.darktable.table-striped>tbody>tr:nth-of-type(odd){
 background:#312e2e;
 color:#c3c2c2;
}
.darktable td,.darktable th{
  color:#ccc
}

 /* airbunker page  */

 .airbunkerBanner{
  background: url('/img/airbunker-cover.jpg');
  min-height: 500px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
 }
 .airbunkerLogo{
   max-width:250px;
   z-index: 2; 
   position: relative;
 }
 .airbunkerBannerContent{
  padding-top:50vh

 }
 .airbunkerBannerContent h2{
   border-right:1px solid #fff;
   border-bottom: 0;
   padding-right:30px
 }
 .airbunkerBannerContent h4{
   color:#fff;
   padding-top:30px;
   font-weight: 500;
 }
 .airbunkerTableIntro{
  background: url('/img/NXL.jpg');
  min-height: 800px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
 }
 .whiteTitle span{
    font-size: 35px;
    color:#fff;
 }
 
.airbunkerTableIntro .whiteTitle{
  font-size: 45px;
  font-weight: 800
}
.airtable{
  max-width:900px;
  margin:0 auto;
  width:100%;
}
.airtable td{
  font-size: 16px;
  padding-left:15px !important
}
.airtable .tfoot{
  background:#000;
  color:#fff
}
.airbunkerPspSec{
  background-image:url('/img/psp.jpg');
}
.airbunkerTrainSec{
  background-image:url('/img/img59.jpg');
}
.smallTitleWhite{
    color:#fff;
    font-size: 25px;
    padding-top:10px !important;
}
.bunker{
 max-width:1100px;
 margin:0 auto
}
.bunker img{
  max-width:600px;
  margin:0 auto;
}
.dimentionItem{
  padding:10px;
  margin:10px;
  border:1px solid #000;
  height:100%;
  max-width:500px;
  width:100%;
  margin:10px auto
}
.dimentionItem img{
 max-width:350px;
margin:0 auto
}
.airbunkerDroneRaceSec{
  background-image:url("/img/img301.jpg");
  background-position: top center;
}
.dimentionValue{
  color:#000;
  font-weight: 900;
  margin-top:5px;
  font-size: 20px;

}
/* airbunker requirement */
.airbunkerRequirement img{
  max-width:400px;
  margin:0;
}
.airbunkerRequirement  .bunker{
    padding-left:30px;
    padding-right:30px
}
/* /eclips indoor page/ */
.indoorbanner{
  background:#000;
}
.gradientBlack{
  background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(19,19,19,1) 100%);
}
.inDoorBannerDes p{
  color:#ccc;
  font-size: 30px;
  max-width:800px;
  margin:0 auto;
  text-align: center;
  font-weight: 400;
}
/* Bright Shot Team Color Section */
.brightShotTeamColorSec{
  background:#000;
  padding-bottom:0;
}
/* /game kit section/ */
.gameKitSec{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0;
  grid-column-gap: 0px;
  padding:0
}
.gameKitSec p{
  max-width:475px;
}
.gameKitDesc{
background-color: #fff;
padding: 120px 60px;
background-image: url(/img/background-bottom-right.png), url(/img/background-top-right.png);
  background-position: right bottom, right top;
  background-repeat: no-repeat, no-repeat;
  margin-bottom:-1px;
}
.gameKitImg{
 background-color: #131313;
}
.gameKitImg img{
  max-width:500px;
  margin:0 auto;
}
.blasterSec{
  background-image: url('/img/bg-outdoor.png') !important;
  background-color: #000;
  background-repeat: no-repeat;
  background-size: cover;
}
.blasterKitDesc img{
  max-width: 800px;
  margin:0 auto
}
.eclipsVest .gameKitDesc{
  background-color:#000;
}
.eclipsVest .whiteTitleText h4{
  border:none
}
.eclipsVest .whiteTitleText{
  max-width:270px;
  margin-bottom:30px;
  margin-top:30px;
}
.greyBlackTitle{
  font-weight:400;
  font-size: 50px;
  color:#000;
  margin-bottom:60px;
  line-height: 1em;
}
.greyBlackTitle span{
  color: #666;
  display: block;
}
.skyblueTitle{
  font-weight:400;
  font-size: 50px;
  margin-bottom:60px;
  color:#c6c6c6;
  line-height: 1em;
}
.skyblueTitle span{
  color: #006dda;
  display: block;
}
.eclipsVest .gameKitImg img{
    max-width:600px;
    margin:0;
    margin-left:-45px;
    margin-top:60px;
}
.threeSoundSec{
 background:#000;
}
.whiteTitleTextNoBorder h4{
  color: #fff;
    font-size: 16px;
    padding: 10px 0;
}
.whiteTitleTextNoBorder p {
  color: #ccc;
  padding-top: 5px;
  padding-bottom:45px;
  max-width:300px;
  font-weight:400
}
/* superpower */
.superPowerSec{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0;
  grid-column-gap: 0px;
  padding:0;
  position: relative;
}
.imageBottom{
  position: absolute;
  bottom: 0;
  left:0;
  max-width:40%;
}
.rtl .imageBottom{
  right: 0
}
.powerSecLeft{
  padding: 30px 60px;
}
.powerSecLeft .greyBlackTitle{
  margin-top:100px;
}
.powerSecLeft .greyBlackTitle{
  margin-bottom: 15px;
}
.powerSecRight{
  background-color:#000;
  padding: 60px 60px;
  background-image: url(/img/white-tringle1.png), url(/img/white-tringle2.png);
    background-position: left top,left bottom ;
    background-repeat: no-repeat, no-repeat;
    background-size: 26%,26%;  
}
.powerSecRight img{
  max-width:130px;
  text-align: right;
}
.powerSecRight .whiteTitleTextNoBorder{
  padding-bottom:5px;
}
/* software indoor */
.indoorSoftwareSec{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0;
  grid-column-gap: 0px;
  padding:0;
}
.indoorSoftwareLeft{
background:#131313;
}
.indoorSoftwareLeft img{
  width:110%;
  max-width:110%;
  z-index: 2;
  position: relative;
}
.indoorSoftwareRight{
  padding:120px 60px 120px 120px;
background-color:#0091ff;
background-image: url(/img/background-left-bottom.png), url(/img/background-top-left.png);
  background-position: left bottom, left top;
  background-repeat: no-repeat, no-repeat;
}
.indoorSoftwareRight .whiteTitleTextNoBorder p{
  padding-bottom:10px
}
/* script section */
.scriptPointsSec{
  background:#000;
}
.scriptpointItemImg{
  max-width:50px;
}
.scriptpointItem{
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-gap: 5px;
  padding-right:30px  
}
.indoorBtn{
  text-align: center;
  padding:45px 30px
}
.indoorBtn .btnMain{
  max-width: 475px;
  width: 100%;
  font-size: 30px;
  padding: 20px 30px 25px;
}

/* sirius */
.siriusImg{
  background:#131313;
  padding:120px 60px 0;
}
.siriusImg img{
    max-width:80%;
    margin:0 auto;
  }
.siriusDesc{
  background:#fff;
  padding:120px 60px 60px;
}
.siriusDesc li{
  list-style: none;
  font-weight: 600;
  font-size: 13px;
  color:#000;
  display: flex;
  align-items: center;
}
.siriusDesc li img{
  display: inline;
  width:50px;
  margin-right:15px;
}
.rtl .siriusDesc li img{
  margin-left:15px;
}
.siriusIconItem{
text-align: center;
margin:15px 0
}
.siriusIconItem img{
  width:55px;
  margin:0 auto
}
.siriusIconItem h2{
  color:#ccc;
  font-size: 15px;
  font-weight: 500;  
  margin-top:5px;
}
.normalTable{
    margin:30px 0;
    width:100%;
}
.normalTable td{
  padding-bottom:10px
}
.dominationSec {
  background:#333
}
.dominationSecRight li {
  color:#ddd
}
.dominationSecRight .normalTable td{
  color:#ccc
}
.dominationSecLeft{
  padding: 120px 60px;
}
.dominationSecLeft img{
    max-width:80%;
  }
  .dboxIconItem{
    margin-top:30px;
    text-align: center;
  }
  .dboxIconItem img{
    width:80px;
    margin: 0 auto;
  }
  .dboxIconItem h2{
    font-size: 15px;
    font-weight: 400;
  }

  /********************** about us page ******************** */
  .aboutHeroBanner{
    text-align: center;
    background-image: url("/img/black-white.jpg");
    background-position: right center;
  }
  .socialIcons li{
list-style: none;
display: inline-block;
margin-top:30px;
margin-bottom:15px;
  }
  .socialIcons li a{
    font-size: 26px;
    
    padding: 14px 14px 8px;
    border-radius: 50%;
    color:#1877f2;
    background-color: #fff;
    margin:0 15px;
    transition: all ease-in-out 0.5s;
  }
  .socialIcons li a:hover{
    background-color: #006dda;
    color:#fff;
  }

  /* contact pafge */
  .inputGroup {
    height: 50%;
    width: 200%;
    display: flex;
    flex-direction: column;
    margin: 10px 0;
  }
  .inputLabel {
    text-align: left;
  }

  /* contact form */
  .contactInfo{
    text-align: center;
  }
  .contactInfo .icon{
    border: 1px solid #000;
    width:72px;
    margin: 0 auto;
    border-radius: 50%;
    padding:20px;
  }
  .contactInfo .icon svg{
    font-size: 25px;
    margin:0;
    margin-top:15px;
  }
  .contactInfo h3{
    font-size: 25px;
    justify-content: center;
    margin:30px auto 15px;
  } 
  .contactForm{
    max-width:500px;
    margin:0 auto;
    box-shadow: 0  0 30px 10px rgba(0,0,0,0.09);
    padding:30px;
    border-radius: 10px;
    border-top:5px solid var(--primary_color);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    
  }
  .formGroup{
    padding:15px 0;
    text-align: left;
  }
  .formGroup label{
    float:left;
    color: #777;
    text-transform: uppercase;
    padding-bottom: 5px;
  }
  .formGroup.rtl label{
    float:right;
  }
  .formGroup input, .formGroup textarea{
    height:40px;
    font-size: 16px;
    margin-bottom:5px
  }
  .formGroup textarea{
    height:80px
  }
  .contactForm .btnMain{
    margin-top:0
  }
  .contactInfo .icon{
    border:0;
  }
  .contactInfo h3{
    margin-top:10px
  }
  .fieldError{
    color:var(--primary_color);
    text-align: left;
  }
  .language{
    position: absolute;
    top:15px;
    right:30px;
    z-index: 999999;
    position: fixed;
  }
  .language a{
    border:1px solid #ccc;
    display: inline-block;
    padding:10px ;
    border-radius: 5px;
    font-size: 16px;
  }
  .language svg{
    margin-right:5px;
    margin-left:5px;
    margin-bottom: -6px;
    font-size: 21px;
    color:var(--primary_color)
  }
  .language a:hover{
    background:eee;
    color:var(--primary_color);
    border-color: var(--primary_color);
  }
  #formMsg{
    font-size: 20px;
    margin-top: 15px;
  }

  /************** designing of arena **********/
  .arena_img_box img{
    max-width:800px;
    margin:10px auto 30px;
    border:15px solid #333;
    padding:10px;
    background:#fff;
    box-shadow: rgb(0 0 0 / 32%) 0.75rem 0.85rem 1.75rem 0rem
  }
  /****************************************
  ************** mars section *************
  *****************************************/
  .mars_features_item{
    margin-bottom:60px;
  }
  .mars_features_item img{
    max-width: 80px;
    margin-bottom: 5px;
  }
  .mars_features_item p{
    color:#fff
  }
  .mars_section_title {
    font-size: 45px;
    color:#fff;
    padding-bottom:30px;
    text-transform: uppercase;
    font-weight: 500;
  }
  .mars_h4{
    color:#fff;
    font-size: 20px;
    font-weight: 600;
  }
  .mars_color{
    color:#fe2a08;
  }
  .mars_p{
    color:#ddd;
    font-weight: 400;
  }
  .mars_p b{
    color:#fff;
    font-weight: 700;
  }


/* new css */
.heroBanner .imageLeft{
  max-width: 500px;
    padding: 15px;
    border: 15px double #333;
    background: #fff;
  box-shadow: rgba(0, 0, 0, 0.32) 0.75rem 0.85rem 1.75rem 0rem;
}
.signature{
  max-width:220px
}
.text-banner{
  background: rgba(0,0,0,0.8);
  padding: 30px;
  border-radius:5px;
  box-shadow: rgba(0, 0, 0, 0.32) 0.75rem 0.85rem 1.75rem 0rem;
}
.airBunker img{
  padding: 15px;
    border: 15px solid #333;
    background: #fff;
  box-shadow: rgba(0, 0, 0, 0.32) 0.75rem 0.85rem 1.75rem 0rem;
}
.indoorSec img{
  padding: 15px;
    border: 15px double #333;
    background: #fff;
  box-shadow: rgba(0, 0, 0, 0.32) 0.75rem 0.85rem 1.75rem 0rem;
}
.gallery_group{
  column-count: 3;
  column-gap:25px;
}
.arena_img_box img:hover{
  transform: scale(1.2) rotate(5deg);
  cursor: pointer;
}


/* tab css */
.bloc-tabs {
  display: flex;
}
.tabs {
  padding: 15px;
  text-align: center;
  width: 50%;
  background: rgba(128, 128, 128, 0.075);
  cursor: pointer;
  border-bottom: 1px solid rgba(0, 0, 0, 0.274);
  box-sizing: content-box;
  position: relative;
  outline: none;
}
.tabs:not(:last-child){
  border-right: 1px solid rgba(0, 0, 0, 0.274);
}

.active-tabs  {
  background: white;
  border-bottom: 1px solid transparent;
}

.active-tabs::before {
  content: "";
  display: block;
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% + 2px);
  height: 5px;
  background: var(--primary_color);
}
.bloc-tabs button {
  border: none;
  border-top:1px solid #777;
  font-size:20px
}

.content-tabs {
  flex-grow : 1;
}
.content-tabs  .content {
  background: white;
  padding: 20px;
  width: 100%;
  height: 100%;
  display: none;
}
.content-tabs .content h2 {
  padding: 0px 0 5px 0px;
}
.content-tabs .content hr {
  width: 100px;
  height: 2px;
  background: #222;
  margin-bottom: 5px;
}
.content-tabs .content p {
  width: 100%;
  height: 100%;
}
.content-tabs .active-content {
  display: block;
}
/* end of tab */



@media (max-width: 1000px) {
  .brightShotTeamColorSec{
    text-align: center;
  }
  .whiteTitleTextNoBorder p{
    margin:0 auto;
  }
  .skyblueTitle{
    text-align: center;
    font-size: 35px;
    margin-bottom: 30px;
  }
  .indoorSoftwareRight{
    padding: 120px 60px
  }
  .indoorSoftwareLeft img{
    margin-top:90px;
  }
  .footerLogo{
    max-width:100px;
  }
  section{
    padding:6rem 0;
  }
  .footerTitle{
    margin-top:60px;
  }
  .topFooter{
    padding-top:0
  }
  
  .icon{
    max-width: 90px;
    margin:0 auto;
    margin-bottom: 15px;
  }
  .taggerGroupSidebarItem p{
    text-align: center;
  }
  .impulseRecoilSec{
    padding-top:100px
  }
  .navbar-default .navbar-nav>li>a{
    font-size: 15px;
    padding:10px 5px;
  }
  .taggerGroupItem img, .sceneSec img, .taggerGroupItemSpec{
    width:60%;
    margin:0 auto
  }
  .siriusDesc{
    padding: 60px 30px 30px
  }
  /* airbunker ipad*/
  .airbunkerBannerContent{
    padding-top: 20vh;
  }
  .airbunkerBannerContent h2,.airbunkerBannerContent h4{
    text-align: center;
  }
  .airbunkerRequirement{
    text-align: center;
  }
  .airbunkerRequirement img{
    margin:0 auto
  }
  .airbunkerTableIntro{
    min-height: 600px;
  }
  .language{
    right:10px;
    top:15px;
  }
  .language a {
    font-size: 12px;
    padding: 6px 6px 10px;
  }
  .language svg {
    font-size: 16px;
  }
  .navbar-brand img{
    max-width: 240px;
  }
  .navbar-default .navbar-nav>li>a{
    height:40px;
  }
  .navbar-nav{
    justify-content: flex-start;
  }
}
@media (max-width: 767px) {
  .heroBanner{
    padding: 8rem 0;
  }
  .video iframe{
    max-width:300px;
    width:100%;
    height:auto;
    margin:30px auto;
  }
  .heroBanner h2{
    font-size: 45px;
  }
  .sectionHeading{
    font-size: 28px;
    margin-bottom:0 !important;
    margin-top: 30px;
  }
  .outdoorSec .secDescription{
    margin-bottom: 20px;
  }
  .outdoorSec_item,.indoorSec_item{
    text-align:center
  }
  .blasterSec{
    background: #000 !important;
  }
  .hideDesktop{
      display: block;
  }
  .btnMainWhite{
    display: flex;
    justify-content: center;
    max-width: 250px;
    margin: 30px auto;
  }
  .topFooter{
    text-align: center;
  }
  .footerLogo{
    margin: 30px auto;
  }
  .topFooter p{
    padding-right: 0;
  }
  .footerTitle{
    margin-top: 60px;
  }
  .outdoorBannerBottom{
    text-align: center;
  }
  .outdoorBannerTop{
    padding: 10rem 0 10rem;
  }
  .outdoorBannerTop .sectionHeading{
    font-size: 42px;
  }
  .navbar-toggle .icon-bar{
    padding:1px;
    height:5px;
    width:25px;
  }
  .navbar-nav{
    flex-direction: column;
  }
  .navbar-default .navbar-toggle{
      border-color: #333;
      right:0%;
  }
  .navbar-default .navbar-toggle .icon-bar{
    background-color: #333;
  }
  .outdoorBannerTop .subheading{
    font-size: 20px;
  }
  .greyBlackTitle{
      font-size: 30px;
  }
  .gameKitSec,.superPowerSec, .indoorSoftwareSec, .superPowerSec{
    grid-template-columns: 1fr;
    text-align: center;
  }
  .gameKitDesc{
    background-image: none !important;
    padding:30px 30px 60px
  }
  .inDoorBannerDes p{
    font-size: 20px;
  }
  .whiteTitleTextNoBorder{
    text-align:center
  }
  .gameKitImg{
    background:#fff
  }
  .gameKitImg img{
    max-width:280px;
  }
  .xs-hide{
    display: none;
  }
  .eclipsVest .gameKitImg img{
    max-width:260px;
    margin: 60px auto 0;
  }
  .gameKitDesc h6{
    margin-top:30px
  }
  .powerSecLeft .greyBlackTitle{
    margin-top:0;
  }
  .powerSecRight img{
    margin:0 auto
  }
  .indoorSoftwareRight{
 background-size: 50%;
  }
  .indoorSoftwareRight{
    padding: 30px 30px 60px;
  }
  .superPowerSec .imageBottom{
    position: relative;
  }
  .indoorBtn .btnMain{
    font-size: 20px;
    padding: 20px 10px 25px;
  }
  .siriusImg{
    padding-top:60px;
    background:#fff;
  }
  .socialIcons li a {
    font-size: 16px;
    padding: 8px 12px;
  }
  .mars_section_title{
    font-size: 30px;  
  }
  /* tab */
  .gallery_group{
    -moz-column-count: 2;
    column-count: 2;
    -moz-column-gap: 15px;
    column-gap: 15px;
  }
}

